.button{
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #e76711;
    color: whitesmoke;
    
}